@using Library.Services.Books.Models
@model IEnumerable<BookModel>


<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-controller="Books" asp-action="Edit" asp-route-id="0" class="btn btn-primary">Add Book</a>
    <button type="button" class="btn btn-primary">Delete book</button>
    <button type="button" class="btn btn-primary">Right</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.DateRelease.ToShortDateString()</td>
                <td>@book.Name</td>
                <td>
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit Book</a>


                </td>

            </tr>
        }
    </tbody>
</table>